$white: 					#ffffff;
$whitesmoke:				#f5f5f5;
$lightgrey:					#f5f5f5;
$mediumgrey:				#cccccc;
$gray:						#808080;
$darkgrey:					#666666;
$lightblack:				#333333;
$black: 	                #000000;
$red:						#ff0000;
$blue:						#0064cd;
$peacockgreen: 				#12A6B3;
$green: 					#46a546;
$iceblue: 					#4FB3C6;
$pastellblue: 				#8CD6EC;

$px-2: 						2px;
$px-4: 						4px;
$px-5: 						5px;
$px-6: 						6px;
$px-8: 						8px;
$px-10: 					10px;
$px-12: 					12px;
$px-13: 					13px;
$px-14: 					14px;
$px-15: 					15px;
$px-16: 					16px;
$px-18: 					18px;
$px-20: 					20px;

$px-20: 					20px;
$px-35: 					35px;
$px-40: 					40px;
$px-50: 					50px;


$border-radius-2: 			$px-2;
$border-radius-4: 			$px-4;
$border-radius-5: 			$px-5;
$border-radius-6: 			$px-6;
$border-radius-8: 			$px-8;
$border-radius-10: 			$px-10;
$border-radius-12: 			$px-12;
$border-radius-14: 			$px-14;
$border-radius-15: 			$px-15;
$border-radius-16: 			$px-16;
$border-radius-18: 			$px-18;
$border-radius-20: 			$px-20;



$font-size-14: 				$px-14;





$border-radius-global: 		$border-radius-8;

$body-color: 				$darkgrey;
$body-background: 			$lightgrey;

$link-basic-hover: 			$gray;

$nav-current-color: 		$peacockgreen;

$version-color: 			$white;			
$version-font-size: 		$px-18;			
$version-margin-top: 		-$px-35;			
$version-font-weight: 		600;			
$version-background: 		$pastellblue;			
$version-padding: 			3px 8px; 					
$version-hover-background: 	$white;			
$version-hover-color: 		$iceblue;			
 		
$copyright-background: 		$iceblue;

$totop-bottom: 				$px-35;
$totop-right: 				$px-50;
$totop-background: 			$iceblue;
$totop-color: 				$white;
$totop-border-radius: 		$border-radius-8;
$totop-font-size: 			$font-size-14;
$totop-padding: 			8px 9px 5px 9px;
$totop-hover-background: 	$mediumgrey;
